<h1>Bienvenido</h1>

<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>id: </td>
    <td>{{id}}</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>name: </td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>surname: </td>
    <td>{{surname}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>email: </td>
    <td>{{email}}</td>
    </tr>
  </tbody>
</table>
<button type="button" (click)="cerrarSesion()" >Cerrar Sesión</button>
<button type="button" (click)="verUsuarios()" >Lista de Usuarios</button>
